.item {
  margin: 1rem 0;
  color: #ffffff;
  font-size: 1.25rem;
  text-align: left;
  justify-content: center;
  background-color: #3a3b3c;
  padding: 8px;
  width: fit-content;
  border-radius: 15px;
}